<div class="navigation">
  <div class="nav-selected">Choose a city</div>
  <div class="nav-links">
    <span class="top-nav-bar"><a href="/{{city}}">{{city}}</a></span>
  </div>

</div>


{{!-- 

         <nav class="navigation">
            <section class="container">
               <a class="navigation-title" href="/">
                  <h1 class="title">What happening this weekend?</h1>
               </a>
               <ul class="navigation-list float-right">
                  <li class="navigation-item"><a class="navigation-link" href="/list">Sites</a></li>
                <li class="navigation-item"><a class="navigation-link" href="/list">Sites</a></li>

        <li class="navigation-item"><a class="navigation-link" href="/login">Login</a></li>
               </ul>
            </section>
         </nav>
      
      </div> --}}