<div class="nav">
  <div class="nav-selected">Choose day</div>
  <div class="nav-links">
    <span class="top-nav-bar"><a href="/schedule/friday">Friday</a></span>
    <span class="top-nav-bar"><a href="/schedule/saturday">Saturday</a></span>
    <span class="top-nav-bar"><a href="/schedule/sunday">Sunday</a></span>
  </div>
  <div class="nav-links flex-grow text-center"><a href="/locations">View Locations</a></div>
</div>
