<div class="navigation">
  <div class="nav-selected">Choose a city</div>
  <div class="nav-links">
    <span class="top-nav-bar"><a href="/auckland">Auckland</a></span>
    <span class="top-nav-bar"><a href="/wellington">Wellington</a></span>
    <span class="top-nav-bar"><a href="/christchurch">Christchurch</a></span>
    <span class="top-nav-bar"><a href="/dunedin">Dunedin</a></span>
  </div>

</div>
