<div class="nav">
  <div class="nav-selected">Choose a city</div>
  <div class="nav-links">
    <span class="top-nav-bar"><a href="/city/Auckaland">Auckland</a></span>
    <span class="top-nav-bar"><a href="/city/Wellington">Wellington</a></span>
    <span class="top-nav-bar"><a href="/city/Christchurch">Christchurch</a></span>
    <span class="top-nav-bar"><a href="/city/Dunedin">Dunedin</a></span>
  </div>
  {{!-- <div class="nav-links flex-grow text-center"><a href="/city">Choose</a></div> --}}
</div>
