<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/main.css" rel="stylesheet" >


</head>
<body class="container">
          <a href="/" class="gigfinder"> gigFinder</a>  
  <header class="relative">
  
    <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.w4-rZNYZl0fmKjdXNzti5QHaEK%26pid%3DApi&f=1">
  </header>
  {{{body}}}
  {{>footer}}
</body>

</html>
