<!-- You should properly set the path from the main file. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  {{!-- < link href="/public/styles/main.css" rel="stylesheet"> --}}
  {{!-- <link rel="icon" href="data:,"> --}}
  <a href="/" class="container">gigFinder</a>  
  <title>Whats on this weekend?</title>

<body class="container">
  <header class="relative">
   
  </header>
  {{{body}}}
  {{>footer}}

</body>


</html>
